/* CSS */
:root {
  --eggshell: hsla(46, 12%, 98%, 1);
  --deep-space-sparkle: hsla(202, 20%, 34%, 1);
  --cambridge-blue: hsla(152, 26%, 75%, 1);

  --body: #507c5d;
  --highlight: #eae09a;
  --text: #f2f1ee;

  --amaranth-pink: hsla(340, 32%, 89%, 1);
  --space-cadet: hsla(243, 40%, 34%, 1);
}

body {
  background-color: var(--body);
  color: var(--text);
  padding: 1%;
  height: 100vh;
}

a {
  color: var(--highlight);
}
