svg {
  /* To allow for links on top of links to work */
  overflow: hidden;
}

.rotate {
  transform-box: fill-box;
  transform-origin: center;
  animation: rotate linear infinite;
}

.reverse {
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
