.grid {
  display: grid;
  min-height: 98vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav header"
    "nav    main"
    "nav footer";
}

.home {
  row-gap: 50px;
  grid-template-columns: 0% 1fr;
}

.notHome {
  gap: 50px;
  grid-template-columns: 100px 1fr;
}

.nav {
  grid-area: nav;
  text-align: center;
  position: fixed;
  height: 95%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
  justify-self: center;
  align-self: end;
  text-align: center;
}

.footerIcon {
  margin: 5px;
}

.header {
  grid-area: header;
  text-align: center;
  align-self: center;
}

.header > h1 {
  font-size: 2.5rem;
}

.main {
  grid-area: main;
  justify-content: center;
}
