.projectTitle {
  margin-top: 2%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.icon {
  width: 20%;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2%;
}

.tile {
  width: 250px;
  height: 250px;
  margin: 1%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.background {
  /* Making the background image fill the parent */
  width: 100%;
  height: 100%;
}

.tile:hover > .background {
  filter: blur(3px);
  transition: 0.5s;
}

.projectText {
  /* making the link div fill the parent */
  display: inline-block;
  height: 100%;
  width: 100%;

  text-align: center;

  /* Repositioning the link */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  /* altering the link styling */
  color: inherit;
  text-decoration: inherit;
  padding: 3%;
}

.projectText:hover {
  background: rgba(0, 0, 0, 0.5);
  color: inherit;
  cursor: pointer;
}

.overlay {
  opacity: 0;
}

.projectText:hover > .overlay {
  opacity: 1;
  transition: 0.5s;
}
